<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>

        <server>
            <id>ossrh</id>
            <username>${env.ARTIFACT_REPO_USERNAME}</username>
            <password>${env.ARTIFACT_REPO_PASSWORD}</password>
        </server>

    </servers>

    <profiles>

        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.passphrase>${env.ARTIFACT_REPO_PASSWORD}</gpg.passphrase>
            </properties>
            <repositories>
                <repository>
                    <id>ossrh</id>
                    <name>Sonatype OSSRH Snapshots</name>
                    <layout>default</layout>
                    <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>

    </profiles>

</settings>
